<td width="50px" class="w-10 p-3">{{ post.experience_id }}</td>
<td width="220px">{{ post.title }}</td>
<td  width="420px">{{ post.description }}</td>
<td width="220px" class='row-cols-3'>
  <a href="#" [routerLink]="['/post/', post.experience_id, 'view']" class="btn btn-info"
    >View</a
  >
  <a href="#" [routerLink]="['/post/', post.experience_id, 'edit']" class="btn btn-primary"
    >Edit</a
  >
  <button type="button" (click)="deletePost(post.experience_id)" class="btn btn-danger">
    Delete
  </button>
</td>
