<div class="card card-custom gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Products list</h3>
          </div>
          <div class="card-toolbar">
            <a
              type="button"
              class="btn btn-primary"
              routerLink="/ecommerce/product/add"
              >New Product</a
            >
          </div>
        </div>
        <div class="card-body">
          <!-- begin: Filtration form -->
          <div class="form form-label-right">
            <div class="form-group row">
              <div class="col-lg-4">
                <div class="row" >
                  <div class="col-lg-6">
                    <select
                      class="form-control"
                      name="status"
                      placeholder="Filter by Status"
                    >
                      <option value="">All</option>
                      <option value="1">Selling</option>
                      <option value="2">Sold</option></select
                    ><small class="form-text text-muted"
                      ><b>Filter</b> by Status</small
                    >
                  </div>
                
                </div>
              </div>
              <div class="col-lg-2" >
                <input
                  type="text"
                  class="form-control"
                  name="searchText"
                  placeholder="Search"
                  value=""
                /><small class="form-text text-muted"
                  ><b>Search</b> in all fields</small
                >
              </div>
            </div>
          </div>
        
          <div class="table-responsive angular-bootstrap-table">
            <table
              class="table table-head-custom table-vertical-center overflow-hidden"
            >
              <thead>
               
                <th>
                  VIN CODE (ID)
                 
                </th>
                <th>
                  MANUFACTURE
                </th>
                <th>
                  MODEL
                </th>
                <th>
                  YEAR
                </th>
                <th>
                  COLOR
                </th>
                <th>
                  PRICE
                </th>
                <th>
                  STATUS
                </th>
                <th>
                  CONDITION
                </th>
                <th>ACTIONS</th>
              </thead>
            
            </table>
          </div>
          <!-- end: Table -->
          <!-- <app-paginator
            class="d-flex justify-content-between align-items-center flex-wrap"
            [paginator]="paginator"
            [isLoading]="isLoading"
            (paginate)="paginate($event)"
          ></app-paginator> -->
        </div>
      </div>
      