<div>
  <form #f="ngForm" class="text-center border border-light p-5">
    <p class="h4 mb-4">Login</p>

    <div *ngIf="id1.invalid" class="alert alert-danger">
      <div *ngIf="id1.errors.required">email obligatoire</div>
      <div *ngIf="id1.errors.pattern">email non valide</div>
    </div>
    <input
      type="email"
      class="form-control mb-4"
      placeholder="E-mail"
      required
      ngModel
      #id1="ngModel"
      name="email"
      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
    />


    <div *ngIf="id2.invalid" class="alert alert-danger">
      <div *ngIf="id2.errors.required" >mot de passe obligatoire</div>
      <div *ngIf="id2.errors.minlength">mot de passe doit contenir 8 caracteres</div>
    </div>
    <input
      type="password"
      class="form-control mb-4"
      placeholder="Password"
      ngModel
      #id2="ngModel"
      name="password"
      required
      minlength="8"
    />
    <div *ngIf="message.length>0" class="alert alert-danger">{{ message }}</div>

    <br /><input
      [disabled]="f.invalid"
      type="submit"
      value="Login"
      (click)="login(f.value)"
    />
  </form>
</div>
