<p>addmovies works!</p>
{{ hello }}
<div *ngIf="hello === 'test'">
  <h1>2info is the best</h1>
</div>
<div [style.backgroundColor]="co">color</div>
<input type="text" [(ngModel)]="co" />

<div *ngIf="show === true">
  <div [style.backgroundColor]="co">color</div>
</div>

<div [ngStyle]="{ backgroundColor: show === true ? 'green' : 'red' }">
  ng style
</div>
<div *ngFor="let p of listeProduit">
  {{ p.titre }}
</div>
<input type="text" [(ngModel)]="price" />
<table class="table">
  <tr *ngFor="let p of listeProduit; let j = index">
    <div *ngIf="p.price < price">
      <td>{{ p.titre }}</td>
      <td>{{ p.qtt }}</td>
      <td>{{ p.like }}</td>
      <td>
        <input
          type="button"
          value="buy"
          [disabled]="!p.qtt"
          (click)="updateqtt(p.id, j)"
        />
      </td>
      <td><input type="button" value="like" (click)="updateLike(p.id)" /></td>
    </div>
  </tr>
</table>
<div class="container" *ngFor="let p of listeProduit; let j = index">
<app-productdetail [item]=p></app-productdetail>

</div>
<app-addproduct (newItemEvent)="addItem($event)"></app-addproduct>
